*{
    margin: 0;
    padding: 0;
    font-size: .7rem;
}
nav{
    position: fixed;
    width: 100%;
}
.navlogo{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}
.navlogo img{
    width: 50%;
}
.signcon{
    color: white;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navdrop{
    position: fixed;
    transform: translateY(69%);
    display: none;
}
#navdrop button{
    width:100%;
}
.sps{
    width: 100%;
    height: 32px;
}
.vidtext{
    position: fixed;
    width: 50%;
    text-align: center;
    transform: translateY(50px);
    scale: 1.2;
}
.vidtext .header{
    color: white;
    text-decoration: solid;
    text-shadow: 2px black;
    padding: 2%;
}
.vidtext .mid{
    width: 80%;
    background-color: greenyellow;
    margin: auto;
    padding: 1.5%;
}
.vidtext .buttoncon{
    width: 60%;
    padding: 3%;
    padding-left: 25px;
}
.displayarea{
    margin: -2.6px 0;
    display: flex;
    width: 100%;
    background-color: darkgray;
}

.what{
    width: 40%;
    height: 20px;
    border: 1px black solid;
    display: flex;
    align-items: center;
}
.what hr{
    direction: ho;
}


.lastcomponent{
    width: 100%;
    display: flex;
    background-color: #252525;
    color: white;
    padding: 5px;
}
.lastcomponent .discription{
    font-size: .3rem;
    width: 30%;
}
.lastcomponent .quicklinks{
    font-size: .3rem;
    width: 10%;
}
.lastcomponent .location{
    font-size: .3rem;
    width: 20%;
}
.lastcomponent .timings{
    font-size: .3rem;
    width: 30%;
}
.lastcomponent .contactus{
    font-size: .3rem;
    width: 30%;
}

footer{
    text-align: center;
    padding: 5px;
    background-color: black;
    color: white;
}