*{
    margin: 0;
    padding: 0;
    font-size: .85rem;
}



.navcontents{
    font-size: 3.5vw;
}
.navuserlogo{
    font-size: 3.5vw;
}
.navdrop{
    top: 9.9vw;
}
.vidtext{
    top: 11vh;
}
.vidtext1{
    font-size: 4vw;
}
.vidtext2{
    font-size: 3vw;
    text-align: center;
    padding-bottom: 1px;
}
.vidtext3{
    background-color: transparent;
    font-size: 2vw;
    padding: 0.5vh 3.6vw;
    margin-top: 1vh;
    margin-right: 1.5vw;
    font-weight: 900;
}

.tickercon{
    width: 100vw;
    height: 4vh;
    justify-content: space-between;
    padding: .5vh 0;
}
.tickercon div{
    height: 3vh;
}
.tickertext{
    width: 35vw;
    display: flex;
    align-items: center;
}
.tickerline{
    width: 18vw;
    height: .5vh;
    
}
.tickertext .text{
    width: 40%;
    font-size: 2vw;
    display: flex;
    align-items: center;
}

.tickerbox{
    width: 64%;
    display: flex;
    justify-content: end;
}
.ticker{
    height: 2vh;
    width: 95%;
    
}

.aboutustext{
    font-size: 7vw;
    padding-left: 3vw;
}
.about span{
    font-size: 4vw;
}
.havefuntext{
    font-size: 5vh;
}

.footer-t1{
    font-size: 3vw;
}

.parallax-vid-2 {
    height: fit-content;
}






/* -------------------- */
.ash {
    font-family: 'Akshar', sans-serif;
}
.darker {
    font-family: 'Darker Grotesque', sans-serif;
}
.aldrich {
    font-family: 'Aldrich', sans-serif;
}
.do {
    font-family: 'Do Hyeon', sans-serif;
}
.inter {
    font-family: 'Inter', sans-serif;   
}
nav {
    background-color: #0f0f0f;
}

.bg-green {
    background: #B8FF5E;
}
.text-color-1 {
    color : #B8FF5E;
}
.bg-black-con{
    background-color: #252525;
}
.bg-green-1 {
    background: linear-gradient(180deg, rgb(184.00000423192978, 255, 93.00000205636024) 0%, rgb(123.06998491287231, 200.81250607967377, 23.428129255771637) 100%);
   
}
.bg-yellow {
    background :linear-gradient(180deg, rgb(253.0000001192093, 235.0000011920929, 113.00000086426735) 0%, rgb(248.0000004172325, 216.00000232458115, 0) 100%)
}
.bg-gray{
    background-color: #585858;
}
.bg-gray-1 {
    background-color:rgb(217,217, 217,0.13);
}
.bg-green-linear {
    background:linear-gradient(145deg,rgb(255, 247, 32,100),rgb(60, 213, 0,40))
}
.bg-spec-linear {
    background: linear-gradient(145deg,rgb(101, 101, 101,60),rgb(63, 78, 88,100));
}
#navdrop button{
    width:100%;
}
.qs-mark {
   font-size: 40px;
}
.form-border {
    border : 1px #7e7e7e solid;
}
.parallax-video {
    height: 30vh;
    width: 100%;
    object-fit: fill;
    z-index: 0;
    
    
}

.parallax-img{
    background: url('./imgs/pexels-vlad-che-an-2694317-1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    

}

.home-card {
    background: linear-gradient(145deg,rgb(171, 171, 171,100),rgb(81, 81, 81,100));
    border-radius: 4rem 0 4rem 0;
    width: 60vw;
    height: 45%;
    
}
.bg-home-card {
    background-color: #4E4E4E;
}
.home-card-title {
    background-color: #4E4E4E;
    border-radius: 4rem 0 4rem 0;
    padding: 5% 0;
    
}
.home-card-title span{
    font-size: 150%;
}
.regcon{
    padding: 1vh .5vh;
}
.cardregister{
    font-size: 5vw;
}
.parallax-img2 {
    background: url('./imgs/professional-baseball-players-1.png');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.spec{
    background: url("./imgs/spec-bg.png");
    margin: auto;
    background-repeat: no-repeat;
    align-content: center;
    align-items: center;
    
}

.home-video {
    height: 30vh;
    width: 100vw;
    object-fit: fill;
}
.home-video-parent{
    overflow: hidden;
}

.qs .one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #252525;
    text-align: center;
    height: 170px;
}
.qs .one .got{
    font-size: 1.7rem;
    padding: 10px;
    color: #B8FF5D;
}
.qs .one .mid{
    color: white;
    font-size: 1.5rem;
}
.qs .one i{
    font-size: 5rem;
    padding: 20px;
    color: #B8FF5D;
}
.qs .two{
    width: 100%;
    background-color: rgb(150, 150, 150);
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.qs .two .inputs{
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     

}
.qs .two .inputs input{
    width: 200px;
    display: flex;
    padding: 5px;
    background-color: #252525;
    border-color: rgb(196, 194, 194);
    border-radius: 10px;
    text-align: center;
}
.qs .two button{
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #B8FF5D;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lastcomponent{
    
    background-color: #252525;
    color: white;
    padding: 10px;
    
}

.lastcomponent .discription{
    font-size: .7rem;
    width: 100%;
}
.lastcomponent .quicklinks{
    font-size: .7rem;
    width: 50px;
}
.lastcomponent .split2{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}
.lastcomponent .location{
    font-size: .7rem;
    width: 60px;
}
.lastcomponent .timings{
    font-size: .7rem;
    width: 60px;
}
.lastcomponent .contactus{
    font-size: .7rem;
    width: 40px;
}
.lastcomponent b{
    font-size: .4rem;
    color: greenyellow;
}
#backimg{
    width: 30px;
     height: 30px; 
     position: fixed; 
     /* transform: translateX(280px);  */
     transform: translateY(100px);
     transform: translateX(280px); 
     opacity: .2;
     padding-top: 8px;
}
footer{
    text-align: center;
    padding: 5px;
    background-color: black;
    color: white;
}